@model IEnumerable<Hospital_CMS.Models.PatientDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<button type="submit" style="background: #129820; border-radius: 5px;"><a style="color:#ffffff;" href="/Patient/New">New Patient</a></button>
@foreach (var patient in Model)
{
    <h2><a href="/Patient/Details/@patient.PatientId">@patient.PFName @patient.PLName</a></h2>
    <div>Gender: @patient.Gender</div>
    <div>Birth Date: @patient.BirthDate</div>
    <div>HealthCard Number: @patient.HealthcardNo</div>
    <div>Contact Number: @patient.ContactNo</div>
    <div>Room Number: @patient.RoomNo</div>
    <div>Room Type: @patient.RoomType</div>
}